.contributionsPanel
{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin: 20px auto;
    width: 100%;
    
}
.contributionsTitle
{
    margin-top: 20px;
}
.contributionContainer
{
    background: linear-gradient(145deg, #411863, #a954ee, #411863);
    padding: 1rem;
    display:flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px; 
    outline: #7702d6 solid 2px; 
    border:groove #4d0688 3px;
    
}
.contributionAuthor
{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: start;
 }
 .personalRating
 {
    display:flex; 
    align-items:center;
    gap: 10px;
    margin-top: 10px;
 
 }
 .contributionText
 {
    width: 100%;
    text-align: justify;
    padding:15px;
    height: fit-content;
  
 }

 .LikeContainer {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: end;
     width: 100%;
     white-space: nowrap;
 }

 .icon {
     width: 20px;
     fill: white;
     cursor: grab;
 }

 @media(min-width:768px)
 {
    .contributionsPanel
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contributionContainer 
    {
        margin-top: 20px;
    }
 }