body
{
  display:flex;
  background-image: linear-gradient(45deg,#000000 10% 10% , #011325 50% 50%);

}

.navigationBar
{
z-index: 1;
display: flex;
transform: translate(0);
transition: transform .5s;
position: fixed;
}

.navigationBarClosed
{
  transform: translate(0);
  display:none;
}
.AsideBarContainer
{
  position: relative;
  width: fit-content;
  display:flex;
  flex-direction: row;
}

.AsideBar
{ 
  z-index: 1;
  height: 100vh;
  width: 70px;
  display:flex;
background-color: #011325;
margin:0;
  justify-content: center;
  align-items: start;
}
.AsideBar img
{
margin-top: 20px;
  width: 60px;
  cursor: pointer;
}

.container
{
  display: flex;
  gap: 20px;
  /* border: red 3px solid; */
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

.cardsContainer
{
  display: flex;
  flex-direction: column;
  color: azure;
  margin-left: 50px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  }

  h2
  {
    font-size: 40px;
  }
