*::placeholder
{
    color: #ccc;
}
.container
{
    width: 100%;
    height: fit-content;
    padding:20px;    
}

.form
{
    width: 100%;
    object-fit: cover;
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
h2{
    margin-left: 40px;
}
.label
{
    margin: 10px auto 10px 20px ;
}

.userName
{
    width: clamp(32%, 85%, 85% );
    height: 45px;
    margin: 20px 40px;
    padding: 20px;
    border: solid #c394f3;
    outline: #6501c9;
}

.fieldNoteValue
{  
    width: clamp(32%, 85%, 85% );
    margin: 20px 40px;
    border: solid #c394f3;
    outline: #6501c9;
}
.description
{ 
    width:auto;
    height: 150px;
    margin: auto 40px 20px;
    resize: none;
    padding: 20px;
    background-color:#ffffff4b;
    border-radius: 10px;
    border: solid #c394f3;
    outline: #6501c9;
}

.buttonContainer
{
    width: 90%;
    height:60px;
    display: flex;
    margin-left: 40px;
    align-items: center;
    justify-content: end; 
}
.button
{
    width: 120px;
    height: 50px;
    margin-left: 40px;
    border-radius: 25px;
    background-color:#450370;
    color:var(--textColor);
    border: solid #c394f3;
}

@media(min-width:768px)
{
    .fieldNoteValue,
    .userName {
            width: clamp(32%, 50%, 50%);
           
        }
}