body
{
  background-image: linear-gradient(45deg,#000000 10% 10% , #011325 50% 50%);
}
.navigationBar
{
  position:relative;
  margin-right:20px;
}
.container {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cardsContainer
{
  display: flex;
  flex-direction: column;
  color: azure;
  margin-left: 50px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  }

  h2
  {
    font-size: 40px;
  }

  @media(min-width:768px)
  {
  
   .filmsContainer
    {
      width: 80%;
    }
      .showsContainer
    {
      width: 80%;
    }  
     
    .navigationBarContainer
    {
      width: 100%;
      border: solid rgb(208, 255, 0);
      }
      
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  }