@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition:all .5s ease-in-out
}

    .ContainerAll {
      display: flex;
      position:fixed;
      height: 100vh;
      width: fit-content;
      background: linear-gradient(#270133, #011325);
      color: white;
      box-shadow: 10px 15px 25px #000000;
      overflow-y: auto;
      border-radius: 10px;
    }


.AsideBar {
  
  height: 100vh;
  width: 70px;
  display: flex;
  background-color: #010b25;
  margin: 0;
  justify-content: center;
  align-items: start;
}

.AsideBar img {
  margin-top: 20px;
  width: 60px;
  cursor: pointer;
}

.navigationBar {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translate(0,0);
  transition: all .5s;
  height: 100%;
  width: 300px;
   
}

.navigationBarClosed {
  transition: all .5s;
  display: none;
}

.navbarButon {
  background-color: transparent;
  width: 90px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto auto 10px;

}

.navbarButon svg {
  width: 40px;
  fill: #ffffff;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.logoText {
  font-family: "Teachers";
  font-size: 2.5rem;
  font-weight: 700;
  white-space: wrap;
}

.logo {
  margin: 15px;
  width: 100px;
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  list-style: none;
  overflow-x: hidden;
}

.menu li {
  display: flex;
  
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: white 2px groove;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu:first-child {
  border-top: white 2px groove;
}

.menu li a {
  display: flex;
  text-decoration: none;
  color: white;
  flex-grow: 1;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: transparent;
  padding: 20px;
}



@media (min-width: 768px) {
.ContainerAllClosed, 
.ContainerAll {
display: flex;
position:relative;
flex-direction: row;
height: 100px;
width:100%;
background: linear-gradient(#270133, #011325);
color: white;
box-shadow: 10px 15px 25px #000000;
overflow-y: auto;
border-radius: 10px;
justify-content: center;
align-items:center;
gap:20px;
overflow: hidden;
} 

.navigationBar
{
height: 90px;
width: 100%;
}

.navbarButon
{
display: none;
}

.menu{
display: flex;
width:100%;
flex-direction: row;
height: 100%;
}
.menu li
{
  display: flex;
  height: 100%;
  border:none;

}
.menu li:hover {
  background-color: #2f077a;
}


.logoContainer
{ 
  display: flex;
  width: fit-content;
  flex-direction: row-reverse;
  order: 2;
  transform: scale(.8);
  user-select: none;
}
.logoContainer img
{
  width: 70px;
}
.logoText
{
  font-size: 30px;
  white-space: nowrap;
}

.AsideBar img 
{
  display:none;
}
.AsideBarClosed,
.AsideBar
{
display: flex;
width: 100vw;
height:90px;
}

}
