 .Container
        {
        display: 'flex'; 
        align-Items: 'center';
        font-size: x-large;
        color: #ffd900;
        user-select: none;
    }
.Container span
{
    text-shadow:#ffd901 5px 5px 10px;
}