.ContainerAll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.082);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.ContainerAll a
{
  text-decoration: none;
 
}

.logo {
  width: 40px;
  height: auto;
}

.logoText {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #fff;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #190122e0;
  transition: transform 0.3s ease;
  transform: translateY(0%);
  z-index: 1;
}

.menuOpen {
  transform: translateY(0%);
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}
.menuClosed
{
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.menu li {
  margin: 0;
  text-align: center;
  background-color:#ffffff0e;
 padding: 10px; 
 border-bottom: 2px solid #0200022f;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px 100px;
}

.menu a:active {
  color: #ffa500;
  background: transparent;
}

.menu li:active {
  background-color: #ffffff7c;
}


.ButtonsContainer {
  display: flex;
  align-items: center;
}

.MenuButton {
  cursor: pointer;
  display: flex;
  width: 40px;
}

.backButton {
  background-color: transparent;
  width: 40px;
  fill: #ae00ff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  border:none;
}

@media (min-width: 768px) {
 
  .ContainerAll
  {
    display:flex;
    padding:0;
    justify-content: center;
   align-items: center;
  }
  .menu,
  .menuOpen,
  .menuClosed
      {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    visibility: visible;
    opacity: 1;
    width: 100%;
    justify-content:end;
    align-items:center;
    font-size: 1rem;
    padding:10px;
    transform: translate(0%);
    flex:0 1 auto;
  }

  .menu li,
    .menuOpen li,
    .menuClosed li
    {
    margin: 0 5px;
    display: flex;
    text-align:center;
    justify-content: space-between;
    align-items: center;
    position: static;
   
    white-space: nowrap;
  }
    .menu li {
      text-align: center;
      background-color:transparent;
      padding: 10px;
      border-bottom: none;
    }
  
    .menu a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;
      padding: 0px;
    }
.menu a:hover {
  color: #ffa500;
}
    .logoContainer {
      display: flex;
      flex-direction: row;
      margin-left: 20px;  
      gap:10px;
    }

 .logoContainer p 
 {
  font-size: 1.7rem;
  white-space: nowrap;
  text-decoration: none;
 }
    .backButton,
  .MenuButton {
    display: none;
    visibility:hidden;
  }
}