.generalContainer
{
  display: flex;
  flex-wrap: wrap;
  gap:25px;
}
.cardContainer
{
  padding:10px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 250px;
  height: 350px;
  border: 2px groove #171820;
  border-radius: 25px;
  background-image: linear-gradient(120deg,#2e3140,#12151d);
  color:azure;
  gap: 10px;
}

.imgContainer
{
width: 150px;
border: 2px groove #171820;
}

.imgStyle
{
  width: 100%;
  height: 100%;
}

.cardHeader
{
  width: 100%;
  height: 100%;
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 5px;
  white-space: wrap;

}
.title
{
  font-size: 1rem;
}

.data
{
  font-size: 0.8rem;
}