:root {
    --textColor: #ffaa
}

body
{
    background: linear-gradient(#270133, #011325);
    background-size: cover;
    background-attachment: fixed;
    background-position:fixed ;
    text-rendering: optimizeLegibility;
   
}

